@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(135deg, #512da8, #b3bbe4);
    background-size: cover;       /* Ensures the image covers the entire screen */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

:root {
    --body-color: #010c15;
    --box-bg: #f2f1f5;
    --box-fg: var(--body-color);
    --box-border: #512da8;
    --box-width: 150px;
    --border-radius: 5px;
    border-radius: 50px;
    color-scheme: dark;
}

body {
    height: 100vh;
    overflow: hidden;
    place-content: center;
    background-color: var(--body-color);
}

nav {
    margin: 10%;
    display: flex;
    text-align: center;
    font: bold 1.5rem sans-serif;
    box-shadow: 0 5px 50px 0px rgb(255 255 255 / 0.3);
}

nav a {
    transition: 0.2s;
    color: var(--box-fg);
    text-decoration: none;
    width: var(--box-width);
    background: var(--box-bg);
    padding: calc(var(--box-width) / 10);
}

nav a:first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

nav a:last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

nav:hover a {
    filter: blur(3px);
    opacity: 0.5;
    outline: 1px solid var(--box-bg);
}

nav:hover a:hover {
    filter: blur(0px);
    opacity: 1;
    outline: 1px solid var(--box-border);
}

.containerlogin {
    color: #010c15;
}

.container {
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 750px; /* Increased height */
}

.container p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
}

.container a {
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}

.container button {
    background-color: #512da8;
    color: #ffffff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    width: 100%;
}

.container input {
    background-color: #dfdbdb;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 80%; /* Set width to 80% */
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background-color: #512da8;
    height: 100%;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #ffffff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
}

.container.active .toggle-right {
    transform: translateX(200%);
}

.form-group {
    display: block;
    justify-content: center;
    display: inline;
    margin-right: 20px;
    text-align: justify;
}

.radiobt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px; /* Adjust the width as needed */
    margin: 0 auto; /* Center the container */
    color: #5c6bc0;
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.input-icon {
    position: relative;
    display: flex;
    align-items: center;
}

.input-icon .form-control {
    flex: 1;
}

.input-icon .eye-icon {
    position: absolute;
    right: 10px; /* Adjust as needed */
    cursor: pointer;
}

.error {
    color: red;
    margin-top: 5px;
}
